<mat-card class="form-card" style="text-align: center;">
    <mat-card-content>
        <form #clientTypeForm="ngForm" (ngSubmit)="onUpdateClientType(clientTypeForm)">
            <h2>Crear Tipo de Cliente</h2>
            <mat-form-field>
                <input matInput type="text" name="id" id="id" class="form-control" ngModel disabled>
                <mat-error>
                    Ingrese un nombre válido, solo letras
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Nombre" type="text" name="name" id="name" class="form-control" ngModel pattern="[A-Za-zñÑ ]+" required>
                <mat-error>
                    Ingrese un nombre válido, solo letras
                </mat-error>
            </mat-form-field>
            <button mat-raised-button color="primary" type="submit" [disabled]="!clientTypeForm.form.valid" style="margin-top: 10px;">Guardar</button>
        </form>
    </mat-card-content>
</mat-card>