<mat-card class="form-card" style="text-align: center;">
    <mat-card-content>
        <form #clientForm="ngForm" (ngSubmit)="onCreateClient(clientForm)">
            <h2>Crear Cliente</h2>
            <mat-form-field>
                <input matInput placeholder="Nombre" type="text" name="name" id="name" class="form-control" ngModel pattern="[A-Za-zñÑ ]+" required>
                <mat-error>
                    Ingrese un nombre válido, solo letras
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Edad" type="text" name="age" id="age" class="form-control" ngModel pattern="^(1[89]|[2-9]\d|100)$" required>
                <mat-error>
                    Edad entre 18 y 100 años
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="NIT" type="text" name="nit" id="nit" class="form-control" ngModel pattern="^[0-9]+(-?[0-9kK])?$" required>
                <mat-error>
                    NIT incorrecto
                </mat-error>
            </mat-form-field>
            <mat-card>
                <mat-label><strong>Tipos de pago</strong></mat-label>
                <mat-selection-list name="paymentsTypes" id="paymentsTypes" ngModel required>
                    <mat-list-option [value]="paymentType" *ngFor="let paymentType of paymentTypes" style="text-align: left;">
                        {{ paymentType }}
                    </mat-list-option>
                </mat-selection-list>
            </mat-card>
            <button mat-raised-button color="primary" type="submit" [disabled]="!clientForm.form.valid" style="margin-top: 10px;">Crear</button>
        </form>
    </mat-card-content>
</mat-card>