<div class="container-btn-add">
    <button mat-raised-button color="primary" style=" margin: 10px" routerLink="/client/add"><mat-icon>person_add</mat-icon>Crear cliente</button>
</div>
<div class="center-content mat-elevation-z8" style="width: 90%;">
    <mat-table matSort [dataSource]="dataSource" (matSortChange)="announceSortChange($event)">
        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="age">
            <mat-header-cell *matHeaderCellDef mat-sort-header style="max-width: 8%;"> Edad </mat-header-cell>
            <mat-cell *matCellDef="let row" style="max-width: 8%;"> {{row.age}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="nit">
            <mat-header-cell *matHeaderCellDef mat-sort-header> NIT </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.nit}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="paymentTypes">
            <mat-header-cell *matHeaderCellDef> Tipos de pago </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <mat-form-field>
                    <mat-label>Tipos de pago</mat-label>
                    <mat-select>
                        <mat-option *ngFor="let payment of row.paymentTypes" [value]="payment">
                            {{payment}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
            <mat-cell *matCellDef="let row"><button mat-mini-fab color="primary" style="margin: 5px;" (click)="onEditClient(row.id)"><mat-icon>edit</mat-icon></button><button mat-mini-fab color="warn" style="margin: 5px;" (click)="onDeleteClient(row.id)"><mat-icon>delete</mat-icon></button></mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="['id', 'name', 'age', 'nit', 'paymentTypes', 'actions']"></mat-header-row>
        <mat-row *matRowDef="let row; columns: ['id', 'name', 'age', 'nit', 'paymentTypes', 'actions']"></mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Selecciona página de clientes" class="center-pagination"></mat-paginator>
</div>